body
{
  font-family: "Helvetica Neue","Segoe UI",Arial,sans-serif;
  margin: 0;
  width: 419px;
  font-size: 13px;
  height: expression( document.body.clientHeight < 776 ? "777px" : "auto" );
  background-color: transparent;
}

#header {
  /*background: url("imgs/assets/rounded-box_with-search.png") no-repeat 0 0 transparent;*/
  background-color: transparent;
  height: 59px;
  font-size: 20px;
  text-align: center;
}

#headerBckg {
    /*position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;*/
    width: auto;
    height: auto;
}

#deleteText {
  width: 17;
  height: 18;
  position: absolute;
  top: 12px;
  right: 50px;
  cursor: pointer;
  z-index: 10;
}

#header div {
  width: 340px;
  position: absolute;
  left: 67px;
  top: 9px;
}

#more_results {
  background-image: url(imgs/button.png);
  color: #ffffff;
  width: 88px;
  height: 27px;
  text-align: center;
  cursor: pointer;
  margin-left: 5px;
  margin-top: -10px;
}

#more_results_nothing {
  background-image: url(imgs/button_.png);
  color: #ffffff;
  width: 115px;
  height: 27px;
  text-align: center;
  cursor: pointer;
  margin-left: -3px;
  margin-top: 2px;
}

#results {
  float: left;
  position: absolute;
  left: 2px;
  top: 58px;
  /*margin-top: -2px;*/
  display: none;
}

#res {
  background-color: #ffffff;
  width: 414px; /*412*/
  /*margin-left: 3px;*/
  /*background-image: url("imgs/assets/no-shadow/mid_test_no_shadow.png");*/
}

#ddg_zeroclick {
  background: none repeat scroll 0 0 #F9F9F9;
  border: 1px solid #D2D2D2;
  border-radius: 6px 6px 6px 6px;
  display: inline;
  width: 395px;
  margin-left: 9px;
  z-index: 10;
  left: 1px;
  padding-bottom: 2px;
}


#search_wrapper {
  color: #000000;
  float: left;
  font-size: 95.2%;
  height: 33px;
  width: 265px;
  border: none none none none;
  margin-left: 5px;
  margin-top: 4px;
  padding: 4px 6px 4px 8px;
}

#logo {
  float:left;
  border: none;
}

#search_button {  
  position: absolute;
  top: 2px;
  right: 3px;
  /*background: url("imgs/search_dropdown.v102.png") no-repeat scroll 0 0 transparent;*/
  width: 41px;
  height: 38px;
  border: 0 none;
  outline: medium none;
  cursor: pointer;
}

#search_button:active {
  background-position: 0 -37px;
}  

.ddg_zeroclick_icon {
    display: inline;
    float: left;
    padding-left: 8px;
    padding-right: 10px;
    padding-top: 4px;
}

.ddg_answer {
    background: url(https://duckduckgo.com/icon16.png) 4px 4px no-repeat #F9F9F9 !important;
    line-height: 1.4;
    padding: 4px 0px 4px 30px !important;
}


#ddg_zeroclick_header {
    padding: 5px 5px 5px 15px;
    font-weight: bold;
    font-size: 16px;
    background: #E9E9E9;
}

#ddg_zeroclick_image {
    margin: 10px;
    float: right;
    width: 100px;
}

.ddg_zeroclick_img {
    display: inline;
    border: none;
    width: expression( this.scrollWidth > 79 ? "80px" : "auto");    
    height: expression( this.scrollHeight > 99 ? "100px" : "auto"); 
    float: left;
    padding: 5px 0px 2px 2px;
    position: absolute;
    right: 18px;
    top: 50px;
}

#ddg_zeroclick_abstract {
    display: block;
    /*margin: 5px 7px 5px 10px;*/
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 4px;
    word-wrap: break-word;
    width: 290px;
}

.ddg_abstract_text{
  border: 1px solid #fafafa;
  padding-left: 2px;
}

#ddg_zeroclick_abstract a{
    text-decoration: none;
}

#ddg_zeroclick_abstract a:hover {
    text-decoration: underline;
}

#ddg_zeroclick_abstract_full {
    display: block;
    /*margin: 5px 7px 5px 10px;*/
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 4px;
    word-wrap: break-word;
}

#ddg_zeroclick_abstract_full a{
    text-decoration: none;
}

#ddg_zeroclick_abstract_full a:hover {
    text-decoration: underline;
}

.first_category {
    margin-top: 3px !important;
}

#ddg_zeroclick_official_links {
    margin-top: 10px;
}

#ddg_zeroclick_official_links img{
    display: inline;
    float: left;
    padding-right: 5px;
    width: 16px;
    height: 16px;
    margin-top: -2px;
}

#ddg_zeroclick_header a {
    text-decoration: none;
    color: #434343;
}

#ddg_zeroclick_header a:hover {
    text-decoration: underline;
}

.ddg_zeroclick_category{
    background-image: url(https://duckduckgo.com/assets/icon_ellipsis.v101.png);
    background-repeat: no-repeat;
    margin-left: -2px !important;
    padding: 1px 0px 1px 36px !important;
    border: 1px solid #fafafa;
}

.ddg_zeroclick_disambig {
    line-height: 1.4;
    padding: 4px;
    margin-left: 41px;
    width: expression(335 + "px");
}

.icon_disambig {
    padding-top: 5px;
    margin-left: 3px;
    float: left;
    text-align: right;
    width: 48px;
    display: block;
    width: expression(30 + "px");
    height: expression(30 + "px");
}

.ddg_selected{
    background-color: #EFEFEF !important;
    -ms-border-radius: 2px;
    border: 1px solid #c2c2c2 !important;
    cursor: pointer;
}

.ddg_summary_selected {
    background-color: #EFEFEF !important;
    -ms-border-radius: 2px;
    border: 1px solid #c2c2c2 !important;
    cursor: pointer;
}

.icon_disambig img {
    width: expression(40 + "px");
    height: expression(40 + "px");
    display: inline;
    float: left;
    margin-top: 2px;
    padding-right: 3px;
}

.icon_category {
    text-align: right;
    width: 58px;
    height: expression(50 + "px");
    padding-top: 5px;
    float: left;
    display: block;
}

.icon_category img {
    height: expression(50 + "px");
    width: expression(50 + "px");
    display: inline;
    float: left;
    margin-top: 2px;
    padding-right: 3px;
}

.ddg_zeroclick_category_item {
    line-height: 1.4;
    padding: 4px;
    float: left;
    font-size: 0.9em
    word-wrap: break-word;
    margin-left: 5px;
}

.ddg_zeroclick_category_item a {
    font-size: 1.1em;
}

.disambig_holder {
    margin: 3px;
}

.disambig_more {
    margin-left: 48px !important;
    padding: 4px;
    clear: left;
}

.disambig_more hr {
    width: 85%;
    height: 1px;
    margin: 0;
    padding: 0;
    border: none;
    color: #BADE89;
    background-color: #D2D2D2;
    text-align: left;
}

.category_more {
    padding: 4px;
    margin-left: 1px !important;
}


#ddg_zeroclick_category_img {
    width: expression(this.scrollWidth > 29 ? "30px" : "auto");
    height: expression(this.scrollHeight > 29 ? "30px" : "auto");
}

#ddg_zeroclick_more{
    background: url(https://duckduckgo.com/assets/icon_ellipsis.v101.png) 4px 4px no-repeat #F9F9F9 !important;
    margin-top: -2px;
    line-height: 1.4;
    padding: 4px 0px 4px 24px !important;
}

.wrapper {
    padding-bottom: 3px;
    width: 383px;
    border: 1px solid #fafafa;
}

.ddg_more {
    font-size: 90%;
    float: left;
    padding-left: 10px;
    /*padding: 1px 20px 0 20px;*/
    color: #000;
    text-decoration: none;
    font-weight: bold;
    height: 16px;
    display: inline;
}

.ddg_more:hover {
  text-decoration: underline;
}  

.ddg_more_answer {
    font-size: 90%;
    float: left;
    /*padding-left: 10px;*/
    color: #000;
    text-decoration: none;
    font-weight: bold;
    height: 16px;
    display: inline;
}

.ddg_more_answer:hover {
  text-decoration: underline;
}    



#nothing_found_more {
  text-decoration: none;
  font-style: bold;
  padding-left: 40px
}

#nothing_found_more:hover {
  text-decoration: underline;
}


#nothing_found {
  width: 200px;
  font-size: 130% ;
  float: left;
  text-align: left;
}

#see_results {
  float: right;
  text-align: right;
  padding-right: 5px;
  padding-top: 3px;
}

.disambig_selected {
  background-color: #EFEFEF !important;
  border-radius: 2px;
  border: 1px solid #c2c2c2 !important;
  cursor: pointer;
}

.ddg_close_zeroclick {
  float: right;
  cursor: pointer;
  color: #000;
  margin-top: -25px;
}

.ddg_close_zeroclick_answer {
  float: right;
  cursor: pointer;
  color: #000;
  /*margin-top: -15px;*/
  position: absolute;
  right: 17px;
  top: 15px;
}

.clear {
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
}


